.Journal {
  width: 100%;
}

.chf {
  text-align: right;
}
.chf::before {
  content: 'Fr.';
  padding-right: 1em;
  float: left;
}

.sort-asc::after {
  content: '▲';
  float: right;
  color: #666;
}
.sort-desc::after {
  content: '▼';
  float: right;
  color: #666;
}
